
  
/*end of stats */
/*test*/
.welcome {
	color: rgb(255, 255, 255);
    padding: 12px;
    margin-top: -15px;
}

.welcome .content {
	background-color: rgb(7, 105, 185);
    border-radius: 5px;
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: space-between;
    letter-spacing: 1px;
    
}

.welcome p{
    color: rgba(255, 255, 255, 0.885);
}

/*overview cards */

/*end of overview cards*/

/* main cards*/ 

/*end of main cards*/
#chart{
    background-color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    margin-left: auto;
}

#contact-container{
    background-color: white;
    border: 2px solid #6e6e6e !important;
    border-radius: 1vmin;
}

#inputForm{
    border: 0 !important;
    border-bottom: 2px solid #6e6e6e !important;
    background-color: transparent !important;
    padding-left: 40px !important;
    margin-bottom: .5em;
}

#inputArea{
    border: 2px solid #6e6e6e !important;
    background-color: rgb(194, 194, 194) !important;
    padding-left: 40px !important;
    margin-bottom: .5em;
    max-width: 100%;
    resize: none;
}

#areaDiv{
    width: 100%;
}


.submit{
    font-weight: 600;
    border-radius: 1vmin;
    border:1px solid #6e6e6e;
    background-color: rgb(7, 105, 185);
    color: white;
    width: 100%;
    font-size: 2vmin;
    transition:all 0.5s ease;
}


#col2{
    font-family: Helvetica;
}

h4{
    border-bottom: 2px solid #6e6e6e !important;
}



/* media query */

::-webkit-scrollbar {
	background: transparent;
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: #56586d;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.3);
}
